<template>
  <transition name="fade">
    <div class="bloc-modale" v-if="revele">
      <div class="overlay" v-on:click="ToggleModale"></div>

      <div class="modale card">
        <div v-on:click="ToggleModale" class="btn-modale btn-danger">X</div>
        <div class="titre"><h3>Création d'Institution</h3></div>
        <form>
          <div class="form-group ">
            <div class="form-group ">
              <label for="inputEmail4">Nom Complet</label>
              <input
                type="text"
                class="form-control"
                id="inputEmail4"
                placeholder="Entrez le nom complet de la nouvelle institution"
              />
            </div>
            <div class="form-group ">
              <label for="inputPilassword4">Reference / Identifiant</label>
              <input
                type="text"
                class="form-control"
                id="inputPassword4"
                placeholder="Entrez un code d'identification ou une réference à l'institution"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="123 Adjidoadin St"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Ville</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Pays</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>TOGO</option>
                <option>BENIN</option>
                <option>GHANA</option>
                <option>.....</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Ajouter Institution</button>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ajoutInstitution",
  props: ["revele", "ToggleModale"],
};
</script>

<style scoped>
.bloc-modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modale {
  background: #f1f1f1;
  color: #333;
  padding: 20px 80px;
  position: fixed;
  top: 15%;
  margin-left: 10%;
  width: 60%;
  bottom: 10%;
}

.titre {
  top: 0;
  text-align: center;
  padding-bottom: 20px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .8s, transform .8s;
}

.fade-enter,
.fade-leave-active {
  transform: translateY(10px);
}

.btn-modale {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
</style>
