<template>
  <div class="inscrire-body">
    <div class="inscrire-container">
      <div class="inscrire-logo">
        <i class="fas fa-user"></i>
      </div>

      <div class="inscrire-tab" data-id="connexion">
        <form>
          <div class="row">
            <i class="far fa-user"></i>
            <input
              type="text"
              class="input"
              placeholder="Votre nom d'utilisateur"
            />
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              class="input"
              placeholder="Saisissez votre mot de passe"
            />
          </div>
          <a href="#" class="link">Mot de passe oublié</a>
        </form>
        <router-link to="/dashboard"><button class="btn" type="button">Connexion</button></router-link>
      </div>
      <!--  <button class="btn btn-primary btn-block">Connexion</button>  -->
    </div>
  </div>
</template>

<script>
export default {
  name: "auth"
};
</script>

<style>



.inscrire-body {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 1% 10%;
}

.inscrire-container {
  position: relative;
  width: 50%;
  height: 480px;
  background-color: #416583;
  padding: 3%;
  border-radius: 10px;
  font-size: 18px;
}

.inscrire-logo {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 5px 5px #ccc;
  font-size: 1.8em;
  background-color: #66bbaa;
  color: #f0f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscrire-tab {
  position: relative;
  height: 350px;
  padding: 15% 5%;
  margin-top: 10%;
  background-color: #fff;
  color: #82ade6de;
  box-shadow: 0px 5px 10px #7c8395;
  border-radius: 30px;
  font-size: 19px;
}

.inscrire-tab.active {
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #82ade6de;
  padding: 2.8% 0;
  margin: 0px;
}

.row .input {
  width: 90%;
  border: none;
  outline: none;
  color: #82ade6de;
  font-weight: 550;
}

.input::placeholder {
  color: #9e9e9ede;
}

.link {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  color: #2b384f;
  text-align: right;
}
.link:hover {
  text-decoration: underline;
  color: red;
}

.btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 120px;
  height: 50px;
  border-radius: 50px;
  background-color: #6ba1f9;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
</style>
