<template>
  <div>
    <div id="wrapper">
      <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"
            ><strong><i class="icon fa fa-plane"></i> Skynaudh7</strong></a
          >

          <div id="sideNav" href="">
            <i class="fa fa-bars icon"></i>
          </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              aria-expanded="false"
            >
              <i class="fa fa-envelope fa-fw"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <a href="#">
                  <div>
                    <strong>Skynaudh</strong>
                    <span class="pull-right text-muted">
                      <em>Aujourd'hui...</em>
                    </span>
                  </div>
                  <div>Vous n'avez aucune activitée en cours</div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <strong>Administration</strong>
                    <span class="pull-right text-muted">
                      <em>Hier...</em>
                    </span>
                  </div>
                  <div>
                    Réservation annulée pour faute de maintenance. Veillez nous
                    excuser!!!!!
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <strong>Skynaudh</strong>
                    <span class="pull-right text-muted">
                      <em>Hier...</em>
                    </span>
                  </div>
                  <div>
                    Validation de reservation confirmée. Rendez-vous prevus pour
                    le 10/01/2021
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                  <strong>Lire tous les messages...</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-messages -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              aria-expanded="false"
            >
              <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 min</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 min</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 min</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 min</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 min</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-alerts -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              aria-expanded="false"
            >
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Votre Profile</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Parametres</a>
              </li>
              <li class="divider"></li>
              <li>
                <router-link to="/auth.vue"
                  ><i class="fa fa-sign-out fa-fw"></i> Déconnexion</router-link
                >
              </li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
      </nav>
      <!--/. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <ajoutInstitution
          :revele="revele"
          :ToggleModale="ToggleModale"
        ></ajoutInstitution>
        <modifierInst :revele="revele" :Modifier="Modifier"></modifierInst>
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <router-link to="/dashboard"
                ><i class="fa fa-dashboard"></i> Dashboard</router-link
              >
            </li>
            <li>
              <a href="#" class="active-menu"
                ><i class="fa fa-desktop"></i> Institution</a
              >
            </li>

            <li>
              <a href="#"><i class="fa fa-sitemap"></i> Agences </a>
            </li>

            <li>
              <a href="#"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-edit"></i> Forms </a>
            </li>

            <li>
              <a href="#"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper">
        <div class="header">
          <h1 class="page-header">
            Institutions
            <small>Différents opérations concernant les Institutions</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Institutions</a></li>
            <li class="active">Traitements</li>
          </ol>
        </div>

        <div id="page-inner">
          <div class="row">
            <div class="panel-tab">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <button class="creer">Ajouter</button>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered table-hover"
                    >
                      <thead>
                        <tr>
                          <th>Id Institution</th>
                          <th>Nom d'institution</th>
                          <th>Ville d'Origine</th>
                          <th>Region de l'institution</th>
                          <th>Pays</th>
                          <th>Action/Requette</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>John</td>
                          <td>Doe</td>
                          <td>John15482</td>
                          <td>name@site.com</td>
                          <td>
                            <a href="#" v-on:click="Modifier">Modifier</a> / <a href="#" v-on:click="Supprimer">Supprimer</a>
                          </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Kimsila</td>
                          <td>Marriye</td>
                          <td>Kim1425</td>
                          <td>name@site.com</td>
                          <td>
                            <a v-on:click="Modifier">Modifier</a> / <a v-on:click="Supprimer">Supprimer</a>
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Rossye</td>
                          <td>Nermal</td>
                          <td>Rossy1245</td>
                          <td>name@site.com</td>
                          <td>
                            <a v-on:click="Modifier">Modifier</a> / <a v-on:click="Supprimer">Supprimer</a>
                          </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Richard</td>
                          <td>Orieal</td>
                          <td>Rich5685</td>
                          <td>name@site.com</td>
                          <td>
                            <a v-on:click="Modifier">Modifier</a> / <a v-on:click="Supprimer">Supprimer</a>
                          </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Jacob</td>
                          <td>Hielsar</td>
                          <td>Jac4587</td>
                          <td>name@site.com</td>
                          <td>
                            <a v-on:click="Modifier">Modifier</a> / <a v-on:click="Supprimer">Supprimer</a>
                          </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Wrapel</td>
                          <td>Dere</td>
                          <td>Wrap4585</td>
                          <td>name@site.com</td>
                          <td>
                            <a v-on:click="Modifier">Modifier</a> / <a v-on:click="Supprimer">Supprimer</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /. ROW  -->
    </div>
  </div>
</template>

<script>
import ajoutInstitution from "./ajoutInstitution";
import modifierInst from "./modiferInst";

export default {
  data() {
    return {
      revele: false,
      visible: false,
    };
  },
  components: {
    ajoutInstitution: ajoutInstitution,
    modifierInst: modifierInst,
  },
  methods: {
    ToggleModale: function() {
      this.revele = !this.revele;
    },
    listeInst: function() {
      this.visible = !this.visible;
    },
    Modifier: function() {
      this.revele = !this.revele;
    },
  },
};
</script>

<style>
.bloc {
  background-color: rgb(71, 128, 109);
  color: #fff;
}

.panel-heading h3 {
  cursor: pointer;
}

.creer {
  color: #fff;
  background: #4187ce;
  -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
line-height: 1.428571429;
}

.panel {
  margin: 0;
}

.panel-tab {
  width: 90%;
}
.overload {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
